@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  
body {
    background-image: url("../images/facebook-5445671_1920.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans", sans-serif;
  }
  
  /* Main Container */
.tweet-container {
    background-color: #fff;
    padding: 1rem 2rem;
    width: 35rem;
    border-radius: 1.5rem;
    user-select: none;
  }
  
  /* the title and the twitter handle */
.title {
    display: flex;
    justify-content: space-between;
  }

.user {
    display: flex;
    cursor: default;
  }
  
  
.info h4 {
    font-size: 1.1rem;
    line-height: 0.9rem;
    padding-top: 10px;
  }
  
.info p {
    font-size: 0.8rem;
    color: gray;
    line-height: 1.2rem;
  }

.tweet-icon{
  padding-top: 10px;
}

img.tweetImg {
    padding-right: 2px;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: default;
  }

a{
  color: black;
}
  
/* Main Tweet */
.tweet {
    padding: 0.8rem 0;
    cursor: text;
  }
  
.tweet p {
    font-size: 1.2rem;
  }
  
/* Tweet time and date section */
.time-and-date {
    color: gray;
  }
  
/* Bottom feedback section */
.bottom-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.4rem 0;
    padding-bottom: 0rem;
    place-items: center;
  }
  
.bottom-section svg {
    width: 1.25em;
    cursor: pointer;
    user-select: none;
    opacity: 0.7;
  }
  
.bottom-section svg:hover {
    cursor: not-allowed;
  }
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#dateTime{
  margin-bottom: 10px;
}
  
#randomBtn {
    padding: 5px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    border-color: #df1a1a;
    border-width: 5px;
    cursor: pointer;
  }

#jokeDisplay{
    margin-bottom: 15px;
  }


#randomBtn:hover{
    background-color: rgb(82, 182, 43);
  }

#verifiedIcon{
    width: 22px;
    padding-top: 7px;
  }


  